* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow: hidden;

    background-image: url(./img/lot.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;


}

.main_container {
    margin: 80px auto;
    border-radius: 15px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #191b1a;
    -webkit-box-shadow: -1px -1px 17px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 17px 4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 17px 4px rgba(0, 0, 0, 0.75);



}

#heading {
    width: 100%;
    background-color: #f97209;
    padding: 5px 10px;
}

#heading h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

}

#calculator_body {
    padding: 10px;
    /* background-color: #212323; */
}

#calculator_body table {
    border-collapse: collapse;

}

#calculator_body table tr td {
    text-align: center;
    padding: 8px 0px;
}

input[type="button"] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: black;
    font-size: 24px;
    border: 0;
    outline: 0;
    transition: 0.2s;
}

input[type="text"] {
    width: 350px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: rgb(78, 77, 77);
    font-size: 24px;
    border: 0;
    outline: 0;
    padding: 20px;
    text-align: center;


}
.active{
 
    color: rgb(0, 0, 0) !important;
    background-color: rgb(210, 202, 202) !important;
    border: 2px solid white !important;
 
}
.c{
 
    color: rgb(255, 255, 255) !important;
    background-color:  #f97209 !important;
 
}


input[type="button"]:hover {
    color: white;
    background: rgb(196, 58, 3);
    box-shadow: -1px -3px 21px -2px rgba(196, 58, 3, 0.75);
    -webkit-box-shadow: -1px -3px 21px -2px rgba(196, 58, 3, 0.75);
    -moz-box-shadow: -1px -3px 21px -2px rgba(196, 58, 3, 0.75);
    cursor: pointer;

}
.active:hover {
    color: white !important;
    background: rgb(196, 58, 3) !important;
    box-shadow: -1px -3px 21px -2px rgba(196, 58, 3, 0.75) !important;
    -webkit-box-shadow: -1px -3px 21px -2px rgba(196, 58, 3, 0.75) !important;
    -moz-box-shadow: -1px -3px 21px -2px rgba(196, 58, 3, 0.75) !important;
    cursor: pointer !important;
    border: 0 !important;

}


@media screen and (max-width:502px) {

    .main_container {
        width: 340px;
    }
}